<nav class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/noticias']"routerLinkActive="active" ><i class="bi bi-newspaper"></i> <ng-container *ngIf="visible" > Noticias</ng-container></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/publicar']"routerLinkActive="active" ><i class="bi bi-camera"></i> <ng-container *ngIf="visible" >Publicar</ng-container></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="active" ><i class="bi bi-person-circle"></i> <ng-container *ngIf="visible" >Perfil</ng-container></a>
      </li>
      <li class="nav-item" *ngIf="edit" >
        <a class="nav-link" (click)="goToEdit()" ><i class="bi bi-pencil-square"></i> <ng-container *ngIf="visible" >Editar</ng-container></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fea1ac;" (click)="cerrarSesion()" ><i class="bi bi-box-arrow-left" ></i> <ng-container *ngIf="visible" >Logout</ng-container></a>
      </li>
    </ul>
  </nav>
  