<mat-nav-list>
    <div (click)="redirigir()" mat-list-item class="d-flex justify-content-between align-items-center">
        <a   class="d-flex flex-column" >
          <span matListItemTitle>Editar perfil</span>
          <span matLine>Puedes editar tu foto, descripción y nombre usuario.</span>
        </a>
        <i class="bi bi-chevron-right"></i>
    </div>
  <hr>
  <div  mat-list-item (click)="logout()" class="d-flex justify-content-between align-items-center">
      <a  class="d-flex flex-column">
        <span matListItemTitle>Cerrar sesión</span>
        <span matLine>Puedes volver a iniciar sesión cunado quieras ♥️</span>
      </a>
<i class="bi bi-box-arrow-left" style="color:#fea1ac" ></i> 


  </div>
  
  </mat-nav-list>
  