

<footer>
    <div class="container">
      
      <ul class="nav nav-tabs  justify-content-between" id="myTab" role="tablist">
        <li class="nav-item ps-3">
          <a class="nav-link " id="home-tab" data-toggle="tab" [routerLink]="['/noticias']"  routerLinkActive="active"  role="tab" aria-controls="home" aria-selected="true"><i class="bi bi-newspaper"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" [routerLink]="['/publicar']"  routerLinkActive="active"  role="tab" aria-controls="profile" aria-selected="false"><i class="bi bi-camera"></i></a>
        </li>
        <li class="nav-item pe-3">
          <a class="nav-link" id="contact-tab" data-toggle="tab" [routerLink]="['/perfil']"  routerLinkActive="active"  role="tab" aria-controls="contact" aria-selected="false"><i class="bi bi-person-circle"></i></a>
        </li>
      </ul>

      
    </div>
  </footer>
  